# Working with Database (SQLite)

### Working with Database is quite easy, if you want to create a new database, you can use any DB Client, like:
* DBeaver
* DB Browser for SQLite
* MySQL Workbench
* HeidiSQL

### If you want to practice Projection, Selection, Grouping, Joins etc on a bre-built DB, then download the database from the link below 

<a href='https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip' target='_blank'>Download the Database</a>

In [1]:
import pandas as pd
import sqlite3 as sql

In [3]:
# Download the Database from https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
# Make DB Connection 
db = "chinook.db"
conn = sql.connect(db)

In [14]:
# Lets first check whats there in the database 
qry = "SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name"
tablesDF = pd.read_sql_query(qry,conn)
tablesDF

               name
0            albums
1           artists
2         customers
3         employees
4            genres
5     invoice_items
6          invoices
7       media_types
8    playlist_track
9         playlists
10  sqlite_sequence
11     sqlite_stat1
12           tracks

In [17]:
# Lets see whats there in Genre table 
genreQry = "SELECT * FROM genres"
genreDf = pd.read_sql_query(genreQry,conn)
genreDf

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [18]:
# Lets see whats there in Tracks table 
tracksQry = "SELECT * FROM tracks"
tracksDf = pd.read_sql_query(tracksQry,conn)
tracksDf

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [20]:
# Lets see whats there in Album table 
albumsQry = "SELECT * FROM albums"
albumsDf = pd.read_sql_query(albumsQry,conn)
albumsDf

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [28]:
# Now we can run some queries with Joins 
qry = """SELECT t.Name, g.Name as Genre,t.Composer, a.Title 
          FROM tracks t, genres g, albums a
          WHERE g.GenreId = t.GenreId 
          AND a.AlbumId = t.AlbumId """
df = pd.read_sql_query(qry,conn)

In [24]:
df

,Name,Genre,Composer,Title
0,For Those About To Rock (We Salute You),Rock,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You
1,Balls to the Wall,Rock,None,Balls to the Wall
2,Fast As a Shark,Rock,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",Restless and Wild
3,Restless and Wild,Rock,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",Restless and Wild
4,Princess of the Dawn,Rock,Deaffy & R.A. Smith-Diesel,Restless and Wild
...,...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Classical,None,Respighi:Pines of Rome
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Classical,Franz Schubert,Schubert: The Late String Quartets & String Qu...
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,Claudio Monteverdi,Monteverdi: L'Orfeo
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Classical,Wolfgang Amadeus Mozart,Mozart: Chamber Music
3502,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",Opera,Wolfgang Amadeus Mozart,Mozart Gala: Famous Arias

In [32]:
# Now seach for user input in Name
search = input("Enter some Keyword to find songs:")
qry = f"""SELECT t.Name, g.Name as Genre,t.Composer, a.Title 
          FROM tracks t, genres g, albums a
          WHERE g.GenreId = t.GenreId 
          AND a.AlbumId = t.AlbumId
          AND t.Name LIKE '%{search}%'"""
df = pd.read_sql_query(qry,conn)
df

Enter some Keyword to find songs:heart

,Name,Genre,Composer,Title
0,Heart Of Gold,Metal,None,Alcohol Fueled Brewtality Live! [Disc 2]
1,Heart of the Night,Jazz,None,Heart of the Night
2,Bringin' On The Heartbreak,Rock,None,Vault: Def Leppard's Greatest Hits
3,Heartbreaker,Rock,John Bonham/John Paul Jones/Robert Plant,BBC Sessions [Disc 2] [Live]
4,Heartbreaker,Rock,"Jimmy Page, Robert Plant, John Paul Jones, Joh...",Led Zeppelin II
5,Heart Of Lothian: Wide Boy / Curtain Call,Rock,"Kelly, Mosley, Rothery, Trewaves",Misplaced Childhood
6,Kickstart My Heart,Metal,Nikki Sixx,Motley Crue Greatest Hits
7,Heart-Shaped Box,Rock,Kurt Cobain,From The Muddy Banks Of The Wishkah [Live]
8,Heart In Your Hand,Rock,"Jimmy Page, Robert Plant, Charlie Jones, Micha...",Walking Into Clarksdale
9,Sheer Heart Attack,Rock,Taylor,News Of The World
10,Closer To The Heart,Rock,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,Retrospective I (1974-1980)
11,Wild Hearted Son,Rock,None,"Pure Cult: The Best Of The Cult (For Rockers, ..."
12,Heart Of Soul,Rock,None,"Pure Cult: The Best Of The Cult (For Rockers, ..."
13,Heart Of Stone,Rock,Jagger/Richards,"Hot Rocks, 1964-1971 (Disc 1)"
14,Sweethearts Together,Rock,Jagger/Richards,Voodoo Lounge
15,Hearts and Minds,TV Shows,None,"Lost, Season 1"
16,A Room At The Heartbreak Hotel,Rock,U2,B-Sides 1980-1990
17,Heartland,Rock,"Bono/Clayton, Adam/Mullen Jr., Larry/The Edge",Rattle And Hum
18,Two Hearts Beat As One,Rock,U2,War
19,"Music for the Funeral of Queen Mary: VI. ""Thou...",Classical,Henry Purcell,Purcell: Music for the Queen Mary